:root {
    --nav: #000080;
    --header: #0d1b2a;
    --ciano: #4fc3f7;
    --white: #fff;
    --black: #000;
    --data: #777;
    --gradienteAzul: linear-gradient(to right , #05008B, #0700D7);
    --gradienteCinza: linear-gradient(to right, #EFEFEF, #A3A3A3);
    --gradienteSaibamais: linear-gradient(to right, #64A8FB, #0700D9);

    --caixa: #E9E9E9;
    --cinza: #B5B4B4;

    --ff:'Poppins';
    font-size: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {
    background: var(--white);
    color: var(--header);
}

/* ---------- HEADER ---------- */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--nav);
    padding: 10px 40px;
    flex-wrap: wrap;
}

.logo img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

nav ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: var(--white);
    font-weight: 500;
    transition: 0.3s;
}

nav a:hover {
    color: var(--ciano);
}

.actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.actions input {
    padding: 6px 10px;
    border-radius: 20px;
    border: none;
    outline: none;
}


/* ===== CAIXA DE SELEÇÃO ===== */
.language-selector {
    display: flex;
    align-items: center;
    gap: 8px;
    background: var(--gradienteCinza);
    border-radius: 8px;
    padding: 3px 6px;
    cursor: pointer;
    transition: 0.3s;
}
  
.language-selector:hover {
    background: var(--gradienteSaibamais);
    color: var(--black);
    box-shadow: 0 2px 15px var(--white);
}
  
.lang-icon {
    font-size: 1.3rem;
    color: var(--black);
    transition: color 0.3s;
}
  
.language-selector:hover .lang-icon {
    background: var(--gradienteCinza);
}
  
.lang-select {
    border: none;
    outline: none;
    background: transparent;
    font-weight: 600;
    color: var(--black);
    font-size: 0.95rem;
    cursor: pointer;
    padding: 3px 6px;
    border-radius: 6px;
    width: 60px;
}
  
.language-selector:hover .lang-select {
    color: var(--white);
}

.doar {
    background: var(--gradienteCinza);
    color: var(--black);
    border: none;
    border-radius: 20px;
    padding: 6px 40px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
}

.doar:hover {
    background: var(--gradienteSaibamais);
    color: var(--white);
    box-shadow: 0 2px 15px var(--white);
}

/* ---------- HERO SECTION ---------- */
.hero {
    background: url('../img/banner.png') center/cover no-repeat;
    height: 70vh;
    position: relative;
}


/* ---------- DADOS SECTION ---------- */
.dados {
    background-color: var(--nav);
    color: var(--white);
    padding: 30px 15px;
    text-align: center;
}

.categorias {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 15px;
    margin-bottom: 30px;
}

.item {
    background-color: rgba(255,255,255,0.1);
    padding: 10px;
    border-radius: 8px;
}

.item p {
    font-weight: 500;
    margin-bottom: 5px;
}

.item span {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--ciano);
}

.acao {
    background-color: var(--white);
    color: var(--nav);
    border: none;
    border-radius: 6px;
    padding: 10px 18px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
}

.acao:hover {
    background-color: var(--header);
    color: var(--white);
}

.Titulo {
    text-align:center;
    padding-top: 3%;
    
}

.texto {
    max-width: 800px;
    margin: 3rem auto;
    padding: 0 1rem;
    text-align: justify;
    font-size: 1.10rem ;

}


/* Equipe */
.equipe {
    padding: 80px 20px;
    background: rgb(255, 255, 255);
    text-align: center;
    font-family: var(--ff-playfair);
    color: var(--black);
    width: 100%;
    margin-bottom: -30px;
    border-radius: 5%;
    border-color: 3px var(--black);


}

.titulo-secao h2 {
    font-size: 2.8rem;
    color: var(--black);
    margin-bottom: 10px;
}

.titulo-secao p {
    color: var(--extra-light);
    font-size: 1.2rem;
    margin-bottom: 50px;
}

/* ===== FLEXBOX ===== */
.cards-equipe {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 40px;
    max-width: var(--max-width);
    margin: 0 auto;
}

/* ===== CARD ===== */
.card {
    background: var(--caixa);
    border-radius: 20px;
    padding: 30px 25px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    flex: 1 1 calc(33.333% - 40px);
    /*1 1 300px; */
    max-width: 380px;
    animation: fadeUp 0.8s ease forwards;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
}

/* ===== AVATAR ===== */
.avatar {
    position: relative;
    width: 140px;
    height: 140px;
    margin: 0 auto 20px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    border: 3px solid var(--secondary-color);
    transition: transform 0.3s ease;
}

.avatar:hover {
    transform: scale(1.05);
}

/* ===== TEXTO ===== */
.card h3 {
    color: var(--primary-color);
    font-size: 1.3rem;
    margin-top: 10px;
    margin-bottom: 8px;
}

.card p {
    color: var(--text-light);
    font-size: 1rem;
    line-height: 1.6;
}

/* ===== IMAGENS ===== */
.membro1 .avatar {
    background-image: url('../img/');
}

.membro2 .avatar {
    background-image: url('../img/');
}

.membro3 .avatar {
    background-image: url('../img/');
}

.membro4 .avatar {
    background-image: url('../img/');
}

/* ===== ANIMAÇÃO DE ENTRADA ===== */
@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.card:nth-child(1) {
    animation-delay: 0.2s;
}

.card:nth-child(2) {
    animation-delay: 0.4s;
}

.card:nth-child(3) {
    animation-delay: 0.6s;
}

.card:nth-child(4) {
    animation-delay: 0.8s;
}


.rodape {
    background: var(--nav);
    color: var(--white);
    padding: 30px 40px;
    margin-top: 20px;
    text-align: center;
}

.rodape-conteudo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    text-align: left;
}

.logo-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.logo-area img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 8px;
}

.logo-area h3 {
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 1px;
}

.links-centro ul,
.links-direita ul {
    list-style: none;
    padding: 20px;
}

.links-centro a,
.links-direita a {
    color: var(--white);
    text-decoration: none;
    font-size: 0.9em;
    display: block;
    margin: 5px 0;
    transition: 0.3s;
}

.links-centro a:hover,
.links-direita a:hover {
    text-decoration: underline;
}

hr {
    border: none;
    border-top: 1px solid var(--white);
    margin: 20px 0;
}

.redes-sociais {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.redes-sociais img {
    width: 35px;
    height: 35px;
    background-color: var(--white);
    border-radius: 10px;
    padding: 5px;
    transition: 0.3s;
}

.redes-sociais img:hover {
    transform: scale(1.1);
}